/* CSS styles for teacher_details_update.html */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background: url('../image/logo_background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* Header styles */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    top: 0;
    left: 0;
    color: #fff;
}

.header img {
    height: 80px;
    width: auto;
    margin-right: 20px;
}

.header h1 {
    font-size: 2em;
    margin: 0;
    color: #fff;
}

/* Content styles */
.content {
    padding: 20px;
}

.search-box {
    text-align: center;
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    padding: 10px;
    margin: 10px;
}

.search-box button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #0056b3;
}

.teacher-details {
    display: flex;
    justify-content: space-around;
}

.left-side,
.right-side {
    width: 45%;
}

.left-side {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-side h2 {
    margin-top: 0;
}

.right-side {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-side h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="tel"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}
img {
    max-width: 100%;
    height: auto;
}

#deleteButton {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#deleteButton:hover {
    background-color: #c82333;
}

/* Footer styles */
footer {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 1em;
}
